<!DOCTYPE html>
<html>
  <head>
    <title>Melobeem</title>

          <meta property="og:type" content="website" />
          <meta property="og:url" content="https://melobeem.com/">
          <meta property="og:site_name" content="Melobeem">
          <meta property="og:title" content="<%= @og_title %>">

          <meta property="og:description" content="Programa de fiestas">
          <meta property="og:image" content="https://melobeem.com/packs/media/images/header-left@2x-6af68b616d0a0f21e7e2bbb8849d883e.png">
          <meta property="og:type" content="website">
          <meta property="og:updated_time" content="1626969003992">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="facebook-domain-verification" content="h4yj0s2ramp1if9pljt1urtct9rkw5" />
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

<body>
    <%= yield %>
  </body>
</html>
