<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="<%= @page_title %>">
    <meta name="description" content="<%= @page_description %>">

    <!-- Open Graph / Facebook -->
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Melobeem">
    <meta property="og:url" content="<%= @page_url %>">
    <meta property="og:title" content="<%= @page_title %>">
    <meta property="og:description" content="<%= @page_description %>">
    <meta property="og:image" content="<%= @page_image %>">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:updated_time" content="<%= Time.current.to_i %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= @page_url %>">
    <meta property="twitter:title" content="<%= @page_title %>">
    <meta property="twitter:description" content="<%= @page_description %>">
    <meta property="twitter:image" content="<%= @page_image %>">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NL2HKFD');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="facebook-domain-verification" content="h4yj0s2ramp1if9pljt1urtct9rkw5" />
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL2HKFD"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
</html>
